*.apk
*.aar
*.ap_
*.aab
*.dex
*.class

bin/
gen/
out/
build/
*/build/
**/build/

.gradle/
**/.gradle/

local.properties

proguard/
*.log
.navigation/
captures/

*.iml
.idea/
*.iws
*.ipr

*.jks
*.keystore

.externalNativeBuild
.cxx/

google-services.json
signingReport/

gradle/wrapper/gradle-wrapper.jar
*.zip

.DS_Store
Thumbs.db
